@media(max-width:2560px) {
    .quadro_fundo {
        left: 20%;
    }
}

@media(max-width:1440px) {
    .quadro_fundo {
        left: 10.5%;
    }
}

@media(max-width:1024px) {
    .quadro_fundo {
        left: 11%;
    }

    .area_design_minimalista {
        justify-content: space-between;
    }

    .area_design_minimalista .informativo {
        width: 40%;
    }

    .area_design_minimalista .informativo .texto {
        width: 95%;
    }

    .imagem_ambiente img {
        left: 15%;
    }

}

/* Menu hamburguer */
@media(max-width:816px) {

    .cabecalho .menu {
        position: absolute;
        width: 100%;
        top: 95px;
        right: 0px;
        background: #e7e7e7;
        height: 0px;
        display: flex;
        flex-direction: column;
        z-index: 1000;
        transition: 0.6s;
        visibility: hidden;
        overflow-y: hidden;
    }

    .cabecalho .menu li {
        display: flex;
        justify-content: center;
    }

    .btn_mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    .navegacao.active .menu {
        height: calc(100vh - 95px);
        visibility: visible;
        overflow-y: auto;
    }

    #hamburguer {
        display: block;
        border-top: 2px solid;
        width: 28px;
    }

    #hamburguer::after {
        content: '';
        display: block;
        width: 14px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;  
        position: relative;
        left: 50%;
    }
        
        #hamburguer::before  {
        content: '';
        display: block;
        width: 28px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;  
        position: relative;     
    }

    .navegacao.active #hamburguer{
        border-top-color: transparent;
        position: relative;
    }

    .navegacao.active #hamburguer::before{
        transform: rotate(135deg);
    }

    .navegacao.active #hamburguer::after{
        transform: rotate(-135deg);
        width: 28px;
        top: -7px;
        transition: 0.8s ease-in-out;
        position: absolute;
        left: 3%;
        top: 5%;
    }

}

@media(max-width:768px) {

    .apresentacao img, .imagem_ambiente img, .quadro_fundo {
        display: none;
    }

    .area_design_minimalista {
        justify-content: center;
        align-items: center;
    }

    .area_design_minimalista .informativo {
        width: 60%;
    }

    .imagens_galeria {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .galeria .informativo p {
        margin: 0 auto;
        width: 80%;
    }

}

@media(max-width:425px) {

    .apresentacao {
        width: 100%;
        height: 300px;
    }

    .area_apresentacao {
        margin-left: 10%;
    }

    .texto_principal h1 {
        font-size: 24px;
        width: 85%;
    }

    .texto_principal p {
        font-size: 14px;
        width: 80%;
    }

    .area_design_minimalista {
        height: 250px;
        margin-top: 8%;
        margin-bottom: 8%;
        width: 100%;
    }

    .area_design_minimalista .informativo {
        position: absolute;
        left: -18%;
        top: 2%;
        width: 95%;
    }

    .imagens_galeria img {
        width: 85%;
    }

    .galeria .informativo p {
        width: 93%;
    }

    .orcamento .botao {
        width: 80%;
    }

    .rodape .logo {
        display: none;
    }

}