@media(max-width:2560px) {
    .quadro_fundo {
        left: 20%;
    }
}

@media(max-width:1440px) {
    .quadro_fundo {
        left: 10.5%;
    }
}

@media(max-width:1024px) {

    .quadro_fundo {
        left: 11%;
    }

    .area_design_minimalista {
        justify-content: space-between;
    }

    .area_design_minimalista .informativo {
        width: 40%;
    }

    .area_design_minimalista .informativo .texto {
        width: 95%;
    }

    .imagem_ambiente img {
        left: 15%;
    }
}

@media(max-width:984px) {
    .imagem_principal img {
        height: 50%;
    }
}

@media(max-width:856px) {
    .apresentacao .area_apresentacao {
        margin-left: 5%;
    }

    .area_design_minimalista .imagem_ambiente img {
        left: 7%;
    }
}

/* Menu hamburguer */
@media(max-width:816px) {

    .cabecalho .menu {
        position: absolute;
        width: 30%;
        top: 95px;
        right: 0px;
        background: #e7e7e7;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        z-index: 1000;
        transition: 0.3s;
        visibility: hidden;
        overflow-y: hidden;
    }

    .btn_mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    .navegacao.active .menu {
        height: calc(100vh- 95px);
        visibility: visible;
        overflow-y: auto;
        border-radius: 20px;
    }

    #hamburguer {
        display: block;
        border-top: 2px solid;
        width: 28px;
    }

    #hamburguer::after {
        content: '';
        display: block;
        width: 14px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        position: relative;
        left: 50%;
    }

    #hamburguer::before {
        content: '';
        display: block;
        width: 28px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        position: relative;
    }

    .navegacao.active #hamburguer {
        border-top-color: transparent;
        position: relative;
    }

    .navegacao.active #hamburguer::before {
        transform: rotate(135deg);
    }

    .navegacao.active #hamburguer::after {
        transform: rotate(-135deg);
        width: 28px;
        top: -7px;
        transition: 0.8s ease-in-out;
        position: absolute;
        left: 3%;
        top: 5%;
    }

}

@media(max-width:792px) {
    .apresentacao img, .imagem_ambiente img, .quadro_fundo {
        display: none;
    }

    .area_design_minimalista .informativo {
        width: 70%;
        margin-right: 10%;
    }

    .area_design_minimalista{
        height: 100%;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .cabecalho {
        justify-content: space-between;
        margin-left: 5%;
    }
}

@media(max-width:768px) {

    /* .apresentacao {
        height: 500px;
        margin-right: 0;
    } */

    .imagens_galeria {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .galeria .informativo p {
        margin: 0 auto;
        width: 80%;
    }

}

@media(max-width:425px) {

    .logo h2 {
        padding-left: 10px;
    }

    .cabecalho h2 {
        font-size: 16px;
    }

    .area_apresentacao {
        margin-left: 5%;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .texto_principal h1 {
        font-size: 24px;
        width: 85%;
    }

    .texto_principal p {
        font-size: 14px;
        width: 70%;
    }

    .area_design_minimalista {
        margin-top: 8%;
        width: 90%;
        height: 300px;
    }

    .area_design_minimalista .informativo {
        position: absolute;
        left: -15%;
        top: 2%;
        width: 95%;
    }

    .imagens_galeria img {
        width: 85%;
    }

    .galeria .informativo p {
        width: 93%;
    }

    .orcamento .botao {
        width: 80%;
    }

    .rodape .logo {
        display: none;
    }

    .rodape .coluna_produtos {
        margin-left: 5%;
    }

    .rodape {
        padding: 0;
    }


}